.footer {
  background-color: #121212;
  color: #f1f1f1;
  text-align: center;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid var(--border);
  margin-top: auto; /* Esto empuja el footer hacia abajo */
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  font-family: 'Bruno Ace', sans-serif;
  font-size: 30px;
  color: #3d71d1;
}

.footerText {
  font-size: 14px;
  margin: 10px 0;
}

.footerDisclaimer {
  font-size: 12px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 0px !important;
}
